@import '../../styles/tokens.scss';

.progress-ring {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $card;
    border-radius: 50%;
  }

  &__center {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
